flask
pandas==2.2.2
numpy==2.0.2
joblib==1.5.3
scikit-learn==1.6.1
# Dependências necessárias para carregar o modelo CatBoost
# Removidos `lightgbm` e `xgboost` para reduzir tamanho de imagem.
catboost
